name: Update dist
on:
  push:
    branches:
    - main

jobs:
  update-dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
      - name: Build
        shell: bash -l {0}
        run: |
          npm ci
          test "$OSTYPE" != "msys" || npm run format
          npm run all

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: Update dist
          author: GitHub <noreply@github.com>
          delete-branch: true
          title: Update dist

      - name: Check Pull Request
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
